<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>會員列表</title>
</head>
<body>
    <h1>帳號會員列表</h1>
    {% if users %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>使用者名稱</th>
                    <th>密碼</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>目前資料庫中沒有任何會員資料資料！</p>
    {% endif %}
</body>
</html>